.ipynb_checkpoints
books pdf/.ipynb_checkpoints/
HandBooks/.ipynb_checkpoints/
MachineLearning/.ipynb_checkpoints/
VideoContent/.ipynb_checkpoints/
Handbooks/.ipynb_checkpoints/
Notebooks/.ipynb_checkpoints/
